<!DOCTYPE html>
<html>
    <% include ./head.ejs %>
  <body>
    <% include ./nav.ejs %>
    <div class="card mb-3" style="max-width: 540px; margin: 48px auto;">
        <div class="row g-0">
          <div class="col-md-4">
            <img src="/images/book.png" class="img-fluid rounded-start" alt="...">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title"><%= book.book_name %></h5>
              <p class="card-text"><span class="material-icons">sell</span>&nbsp<%= book.book_price %>원</p>
              <p class="card-text"><span class="badge bg-secondary"><%= book.book_count %></span>권 남음</p>
              <form method="post">
                <div class="btn-book-detail">
                  <input name="pay_amount" type="number" class="form-control" value="1" min="1" max="<%= book.book_count %>">
                  <p class="card-text"><input type="submit" class="btn btn-outline-primary" value="바로구매" onclick="javascript: form.action='/book/pay/<%= book.book_id %>';"/></p>
                  <p class="card-text"><input type="submit" class="btn btn-outline-primary" value="장바구니" onclick="javascript: form.action='/book/addBasket/<%= book.book_id %>';"/></p>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
  </body>
</html>
