<!DOCTYPE html>
<html>
    <% include ./head.ejs %>
  <body>
    <% include ./nav.ejs %>
    <ul class="list-group paynow-list">
        <li class="list-group-item list-group-item-dark paynow-list-title" aria-current="true">개인정보</li>
        <li class="list-group-item" style="border-top-style: solid; border-width: 1px;"><span class="badge bg-secondary list-item">이름</span><%= user[0].user_name %></li>
        <li class="list-group-item" ><span class="badge bg-secondary list-item">아이디</span><%= user[0].user_id %></li>
        <li class="list-group-item" ><span class="badge bg-secondary list-item">비밀번호</span><%= user[0].user_pw %></li>
    </ul>
    <ul class="list-group paynow-list">
        <li class="list-group-item list-group-item-dark paynow-list-title" aria-current="true">배송지정보</li>
        <div class="list-group">
            <form method="post">
                <% for(let i = 0; i < address.length; i++){ %>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><span class="badge bg-secondary list-item">우편번호</span><%= address[i].address_postnum %></h5>
                        <small class="text-muted"><input type="submit" class="btn btn-outline-danger" value="삭제" onclick="javascript: form.action='/mypage/deladdress/<%= address[i].address_id %>';"/></small>
                        </div>
                        <h5 class="mb-1"><span class="badge bg-secondary list-item">기본주소</span><%= address[i].address_basicaddress %></h5>
                        <h5 class="mb-1"><span class="badge bg-secondary list-item">상세주소</span><%= address[i].address_detailaddress %></h5>
                    </a>
                <% } %>
            
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1">우편번호</button>
                        <input name="new_post" type="text" class="form-control">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1">기본주소</button>
                        <input name="new_basic" type="text" class="form-control">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1">상세주소</button>
                        <input name="new_detail" type="text" class="form-control">
                    </div>
                    <input type="submit" class="btn btn-outline-success flip-horizontal-bottom" value="배송지추가" onclick="javascript: form.action='/mypage/addaddress';"/>
                </a>
            </form>
        </div>
    </ul>
    <ul class="list-group paynow-list">
        <li class="list-group-item list-group-item-dark paynow-list-title" aria-current="true">카드정보</li>
        <div class="list-group">
            <form method="post">
                <% for(let i = 0; i < card.length; i++){ %>
                    <a href="#" class="list-group-item list-group-item-action">
                        <div class="d-flex w-100 justify-content-between">
                        <h5 class="mb-1"><span class="badge bg-secondary list-item">카드번호</span><%= card[i].card_num.toString().replace(/\B(?=(\d{4})+(?!\d))/g, "-") %></h5>
                        <small class="text-muted"><input type="submit" class="btn btn-outline-danger" value="삭제" onclick="javascript: form.action='/mypage/delcard/<%= card[i].card_id %>';"/></small>
                        </div>
                        <h5 class="mb-1"><span class="badge bg-secondary list-item">유효기간</span><%= card[i].card_date %></h5>
                        <h5 class="mb-1"><span class="badge bg-secondary list-item">유형</span><%= card[i].card_type %></h5>
                    </a>
                <% } %>
                <a href="#" class="list-group-item list-group-item-action">
                    <div class="input-group mb-3">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1">카드번호</button>
                        <input name="new_num" type="text" class="form-control">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1">유효기간</button>
                        <input name="new_date" type="text" class="form-control">
                        <button class="btn btn-outline-secondary" type="button" id="button-addon1">유형</button>
                        <input name="new_type" type="text" class="form-control">
                    </div>
                    <input type="submit" class="btn btn-outline-success flip-horizontal-bottom" value="카드추가" onclick="javascript: form.action='/mypage/addcard';"/>
                </a>
            </form>
        </div>
    </ul>
  </body>
</html>
