<style>
    .Allbooks{ color: goldenrod; }
    .inline-block-center {
        display: inline-block;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 30px;
    }
</style>
<div class="container-fluid">
    <br>
    <div class = "container-sm text-center">
        <h1 class = "Allbooks"> All books </h1>
        <hr class="border border-secondary border-3 opacity-75">
    </div>
    <br>
    <div class="container text-center" style="max-width: 1920px;">
        <% for(var i = 0; i < rows.length; i++){ %>
            <% if ( i % 5 == 0 ) { %>
                <br>
            <% } %>
            <div class="card inline-block-center" style="width: 16rem; height: auto;">
                <img src="../images/book/book<%= rows[i].book_num %>.jpeg" class="card-img-top" alt="..." height = "400" width = "150">
                <div class="card-body">
                <h5 class="card-title"><%= rows[i].book_title %> <span class="badge bg-secondary"><strong><%= rows[i].book_genre %></strong></span></h5>
                <p class="card-text">
                    가격: 
                    <% if(rows[i].book_price.toString().length === 5) {%>
                        <%= rows[i].book_price.toString().substring(0,2) %>,<%= rows[i].book_price.toString().substring(2) %>
                    <% }%>원
                </p>
                <form method="post">
                    <input type="hidden" name="bookinfo" id="bookinfo" value="<%= rows[i].book_index %>">
                    <input type="submit" value = "상세보기" class="btn btn-primary">
                </form>
                </div>
            </div>
        <% }; %>
    </div>
</div>