<!DOCTYPE html>
    <html>
    <%- include('../../partials/head'); %>
    <style>
      .wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 50px; min-width: 100px;
        }
        .content{
            margin: 2rem;
            border-radius: 30px;
            background-color: #FAFAFA;
            width: 700px; height: auto;
        }
    </style>
    <body>
      <header>
        <%- include('../../partials/header', {
          signinStatus: signinStatus,
          userName: userName
        }); %>
      </header>
    <main>
      <div id="main1" class="wrapper">
        <ol class="list-group list-group-numbered content">
          <form method="POST">
            <% for(var i = 0; i < br.length; i++){ %>
              <li class="list-group-item d-flex justify-content-between align-items-start">
                <div style="width: 100px; height: 150px;">
                  <img src="../images/book/book<%= br[i].book_num %>.jpeg" class="card-img-top" alt="..." height = "auto" width = "auto">
                </div>
                <div class="ms-2 me-auto">
                  <div class="fw-bold">
                    <input name = "mychk" id = "<%= i %>" onclick="chk_fc(this)" class="form-check-input mt-0" type="checkbox" value="<%= br[i].basketNum %>" aria-label="Checkbox for following text input">
                    <input type='hidden' name = "hiddenchk" id="hiddenchk<%= i %>" value="<%= br[i].book_price * br[i].book_value %>">
                    <%= br[i].book_title %>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">단가</span>
                    <input id="productPrice<%= i %>" type="text" class="form-control" value="<%= br[i].book_price %>" aria-label="Username" aria-describedby="basic-addon1" readonly>
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">수량</span>
                    <input id="<%= i %>" type="text" class="form-control" value="<%= br[i].book_value %>" aria-label="Username" aria-describedby="basic-addon1" onchange="cg_inputValue(this)">
                    <input id="ha<%= i %>" name="hiddenAmount" type="hidden" value="<%= br[i].book_value %>">
                    <input name="hiddenBasketNum" type="hidden" value="<%= br[i].basketNum %>">
                    <input name="hiddenBookIndex" type="hidden" value="<%= br[i].book_index %>">
                  </div>
                  <div class="input-group mb-3">
                    <span class="input-group-text" id="basic-addon1">총 가격</span>
                    <input id="tp<%= i %>" type="text" class="form-control" value="<%= br[i].book_price * br[i].book_value %>" aria-label="Username" aria-describedby="basic-addon1" readonly>
                  </div>
                  <br>
                </div>
                <% if(br[i].book_value > 1) { %>
                  <span class="badge bg-primary rounded-pill">중복 구매!</span>
                <% } %>
              </li>
            <% } %>
          </ol>
          <div class="card" style="width: 18rem;">
            <div class="card-body">
              <h5 class="card-title">결제 정보</h5>
              <h6 class="card-subtitle mb-2 text-muted"></h6>
              <p id="totalprice" class="card-text">합계: <span id="totalpricespan">0</span>원</p>
              <button name="gocredit" type="submit" class="btn btn-primary" onclick="javascript: form.action='basket/update';">결제</button>
              <input name="selected" type="hidden" value = "">
            </div>
          </div>
      </form>
    </div>
    </main>
    <footer>
    <%- include('../../partials/footer'); %>
    </footer>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <script>
      function cg_inputValue(amount){
        document.getElementById("ha"+amount.id).value = amount.value;
        document.getElementById("tp"+amount.id).value = String(Number(document.getElementById("productPrice"+amount.id).value) * Number(document.getElementById("ha"+amount.id).value));
        $(":checkbox").prop("checked",false);
        totalpricespan.textContent = 0;
      }

      function chk_fc(chk){
        let num = document.getElementById("tp"+chk.id).value;
        if(document.getElementById(chk.id).checked == true){
          totalpricespan.textContent = Number(totalpricespan.textContent) + Number(num);
        } else {
          totalpricespan.textContent = Number(totalpricespan.textContent) - Number(num);
        }
      }
    </script>
    </body>
</html>