<!DOCTYPE html>
    <html>
    <%- include('../../partials/head'); %>

    <style>
        .wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 50px; min-width: 100px;
        }
        .content{
            margin: 2rem;
            border-radius: 30px;
            background-color: #FAFAFA;
            width: 960px; height: 500px;
        }
    </style>

    <body>
        <header>
          <%- include('../../partials/header', {
            signinStatus: signinStatus,
            userName: userName
          }); %>
        </header>
    <main>

        <div class="wrapper">
            <div class = "content">
                <form style="margin: 30px;" method="post">
                    <label for="id_text" class="form-label">아이디: <%= rows[0].user_id %></label>
                    <div class="mb-3">
                      <label for="pw_text" class="form-label">비밀번호</label>
                      <input name = "newpw" type="text" class="form-control" id="pw" placeholder="<%= rows[0].user_pw%>">
                    </div>
                    <label style="display: block;" for="name" class="form-label">이름: <%= rows[0].user_name %></label>
                    <div class="mb-3">
                        <label for="destination_text" class="form-label">배송지</label>
                        <select name = "select" id = "formSelect" class="form-select" aria-label="Default select example" onchange="selectOnChange(this)">
                            <option selected> ---배송지 추가--- </option>
                            <% for(var i = 0; i < address.length; i++){ %>
                                <option value = " <%= i + 1 %>"> <%= address[i].postNum %> <%= address[i].address1 %></option>
                            <% }; %>
                        </select>
                        <input name = "hiddenInput" id = "hiddenInput" type="hidden" value = "">
                        <input name = "hiddenInputDelete" id = "hiddenInputDelete" type = "hidden" value = "">
                        <input name = "Editedaddress" style="margin: 5px 0 5px;" type="text" class="form-control" id="inputaddress">
                        <input class="btn btn-primary" type="submit" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                        <input class="btn btn-success" type="submit" value="추가">
                        <input class="btn btn-warning" type="submit" onclick="clickedEdit()" value="수정">
                        <input class="btn btn-danger" type="submit" value="삭제" onclick="deleteFunc()">
                    </div>
                    <div class="mb-3">
                        <label for="card_text" class="form-label">카드</label>
                        <input type="text" class="form-control" id="card">
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <button type="submit" class="btn btn-primary">저장</button>
                    </div>
                </form>
            </div>
        </div>
        
    </main>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        function deleteFunc(target){
            document.getElementById("hiddenInputDelete").value = "ok";
        }

        function selectOnChange(target){
            if (target.selectedIndex !== 0){
                // input에 선택된 option 값 넣기
                document.getElementById("inputaddress").value = target.options[target.selectedIndex].text;

                document.getElementById("hiddenInput").value = target.selectedIndex;            
            }
        }

        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
    
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
    
                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                        document.getElementById("inputaddress").value = data.zonecode + " " + addr;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                        document.getElementById("inputaddress").value = data.zonecode + " " + addr;
                    }
                }
            }).open();
        }
    </script>
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>
    </body>
</html>