<!DOCTYPE html>
    <html>
    <%- include('../../partials/head'); %>

    <style>
        .wrapper{
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 50px; min-width: 100px;
        }
        .content{
            margin: 2rem;
            border-radius: 30px;
            background-color: #FAFAFA;
            width: 960px; height: auto;
        }
        .con_img{
            position: relative;
        }
        .con_card1{
            position: absolute;
            color: black;
            top: 140px; left: 135px;
        }
        .con_card2{
            position: absolute;
            color: black;
            top: 140px; left: 485px;
        }
        .con_card3{
            position: absolute;
            color: black;
            top: 140px; left: 300px;
        }
        .con_exp1{
            position: absolute;
            color: black;
            top: 110px; left: 300px;
        }
        .con_exp2{
            position: absolute;
            color: black;
            top: 110px; left: 650px;
        }
        .con_exp3{
            position: absolute;
            color: black;
            top: 110px; left: 480px;
        }
        .con_type1{
            position: absolute;
            color: black;
            top: 40px; left: 330px; 
        }
        .con_type2{
            position: absolute;
            color: black;
            top: 40px; left: 680px; 
        }
        .con_type3{
            position: absolute;
            color: black;
            top: 40px; left: 500px; 
        }
        .del_card1{
            position: absolute;
            color: black;
            top: 20px; left: 130px;
        }
        .del_card2{
            position: absolute;
            color: black;
            top: 20px; left: 470px;
        }
        .del_card3{
            position: absolute;
            color: black;
            top: 20px; left: 160px;
        }
        
    </style>

    <body>
        <header>
          <%- include('../../partials/header', {
            signinStatus: signinStatus,
            userName: userName
          }); %>
        </header>
    <main>

        <div class="wrapper">
            <div class = "content">
                <form style="margin: 30px;" method="post">
                    <label for="id_text" class="form-label">아이디: <%= rows[0].user_id %></label>
                    <div class="mb-3">
                      <label for="pw_text" class="form-label">비밀번호</label>
                      <input name = "newpw" type="text" class="form-control" id="pw" placeholder="<%= rows[0].user_pw%>">
                    </div>
                    <label style="display: block;" for="name" class="form-label">이름: <%= rows[0].user_name %></label>
                    <div class="mb-3">
                        <label for="destination_text" class="form-label">배송지</label>
                        <select name = "select" id = "formSelect" class="form-select" aria-label="Default select example" onchange="selectOnChange(this)">
                            <option selected> ---배송지 추가--- </option>
                            <% for(var i = 0; i < address.length; i++){ %>
                                <option value = "<%= i + 1 %>"><%= address[i].indexNum %>. <%= address[i].postNum %> <%= address[i].address1 %></option>
                            <% }; %>
                        </select>
                        <input name = "hiddenStatus" id = "hiddenStatus" type = "hidden" value = "">
                        <input name = "hiddenStatusCard" id = "hiddenStatusCard" type = "hidden" value = "">
                        <input name = "hiddenIndex" id = "hiddenIndex" type = "hidden" value = "">
                        <input name = "hiddenDelCard" id = "hiddenDelCard" type = "hidden" value = "">
                        <input name = "cardDiv" id = "cardDiv" type = "hidden" value = "">

                        <input name = "Editedaddress" style="margin: 5px 0 5px;" type="text" class="form-control" id="inputaddress">
                        <input class="btn btn-primary" type="button" onclick="sample6_execDaumPostcode()" value="우편번호 찾기">
                        <input class="btn btn-success" type="submit" value="추가">
                        <input class="btn btn-warning" type="submit" onclick="clickedEdit()" value="수정">
                        <input class="btn btn-danger" type="submit" value="삭제" onclick="deleteFunc()">
                    </div>
                    <div class="mb-3">
                        <label for="card_text" class="form-label">카드</label>
                        <div class="wrapper con_img" style="min-width: 900;">
                            <% if (card.length === 2){ %>
                                <div id = "card1div" name = "card1" value = "<%= card[0].cardnum %>">
                                    <img src="../images/etc/creditcard.png" alt="..." width="350px;">
                                    <h4 class="con_card1">
                                        <%= card[0].cardnum.substr(0,4)%>-<%= card[0].cardnum.substr(4,4)%>-<%= card[0].cardnum.substr(8,4)%>-<%= card[0].cardnum.substr(12)%>
                                    </h4>
                                    <h4 class="con_exp1">
                                        <%= card[0].cardexp.substr(0,2) %>&nbsp/&nbsp<%= card[0].cardexp.substr(2) %>
                                    </h4>
                                    <h4 class="con_type1">
                                        <% if(card[0].cardtype === "typevisa"){ %>
                                            VISA
                                        <% } else { %>
                                            MASTER
                                        <% } %>
                                    </h4>
                                </div>
                                <div id = "card2div" name = "card2" value = "<%= card[1].cardnum %>">
                                    <img src="../images/etc/creditcard.png" alt="..." width="350px;">
                                    <h4 class="con_card2">
                                        <%= card[1].cardnum.substr(0,4)%>-<%= card[1].cardnum.substr(4,4)%>-<%= card[1].cardnum.substr(8,4)%>-<%= card[1].cardnum.substr(12)%>
                                    </h4>
                                    <h4 class="con_exp2">
                                        <%= card[1].cardexp.substr(0,2) %>&nbsp/&nbsp<%= card[1].cardexp.substr(2) %>
                                    </h4>
                                    <h4 class="con_type2">
                                        <% if(card[1].cardtype === "typevisa"){ %>
                                            VISA
                                        <% } else { %>
                                            MASTER
                                        <% } %>
                                    </h4>
                                </div>
                            <% } else if (card.length === 1){ %>
                                <div id="card3div" name = "card3" value = "<%= card[0].cardnum %>">
                                    <img src="../images/etc/creditcard.png" alt="..." width="350px;">
                                    <h4 class="con_card3">
                                        <%= card[0].cardnum.substr(0,4)%>-<%= card[0].cardnum.substr(4,4)%>-<%= card[0].cardnum.substr(8,4)%>-<%= card[0].cardnum.substr(12)%>
                                    </h4>
                                    <h4 class="con_exp3">
                                        <%= card[0].cardexp.substr(0,2) %>&nbsp/&nbsp<%= card[0].cardexp.substr(2) %>
                                    </h4>
                                    <h4 class="con_type3">
                                        <% if(card[0].cardtype === "typevisa"){ %>
                                            VISA
                                        <% } else { %>
                                            MASTER
                                        <% } %>
                                    </h4>
                                </div>
                            <% } else { %>
                                카드 없음
                            <% } %>
                        </div>
                        <div style="width: 200px;">
                            <select name = "selectCard" id = "selectCard" class="form-select" aria-label="Default select example" onchange="selectOnChangeCard(this)">
                                <option selected> ---카드 삭제--- </option>
                                <% for(var i = 0; i < card.length; i++){ %>
                                    <option value = "<%= card[i].cardnum %>"><%= card[i].cardnum.substr(0,4)%>-<%= card[i].cardnum.substr(4,4)%>-<%= card[i].cardnum.substr(8,4)%>-<%= card[i].cardnum.substr(12)%></option>
                                <% }; %>
                            </select>
                        </div>
                        <div id = "cardInputDiv" style="margin-top: 10px; display: none;">
                            <div class="wrapper">
                                <label for="destination_text" class="form-label" style="margin-right: 10px;">카드 번호</label>
                                <input name = "cardNum1" style="margin :0 5px 0 5px; width: 150px;" type="text" class="form-control" id="cardnum1">
                                -
                                <input name = "cardNum2" style="margin: 0 5px 0 5px; width: 150px;" type="text" class="form-control" id="cardnum2">
                                -
                                <input name = "cardNum3" style="margin: 0 5px 0 5px; width: 150px;" type="text" class="form-control" id="cardnum3">
                                -
                                <input name = "cardNum4" style="margin: 0 5px 0 5px; width: 150px;" type="text" class="form-control" id="cardnum4">
                            </div>
                            <div class="wrapper">
                                <label for="destination_text" class="form-label" style="margin-right: 10px;">유효기간</label>
                                <input name = "cardExpM" style = "width: 80px;" type="number" class = "form-control" id = "cardExpM" placeholder="MM" min=1 max=12>
                                <strong>&nbsp&nbsp/&nbsp&nbsp</strong>
                                <input name = "cardExpY" style = "width: 80px;" type="number" class = "form-control" id = "cardExpY" placeholder="YY" min=1 max=31>
                            </div>
                            <div class="wrapper">
                                <label for="destination_text" class="form-label" style="margin-right: 10px;">카드 유형</label>
                                <input name = "cardType" type="radio" value="typevisa"> <strong>&nbspVISA</strong>&nbsp&nbsp&nbsp&nbsp
                                <input name = "cardType" type="radio" value="typemaster"> <strong>&nbspMASTER</strong>
                            </div>
                        </div>
                    </div>
                    <div style="display: flex; justify-content: center; align-items: center;">
                        <button type="submit" class="btn btn-primary">저장</button>
                    </div>
                </form>
            </div>
        </div>
        
    </main>
    <script src="//t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
    <script>
        
        function cardFunc(){
            document.getElementById("cardInputDiv").style.display = "";
            document.getElementById("hiddenStatusCard").value = "card";
        }

        function deleteFunc(target){
            document.getElementById("hiddenStatus").value = "delete";
        }

        function selectOnChangeCard(target){
            if(target.selectedIndex !== 0){
                document.getElementById("cardDiv").value = target.options[target.selectedIndex].value;
                document.getElementById("hiddenDelCard").value = "delok";
            } else {
                document.getElementById("hiddenDelCard").value = "";
            }
        }

        function selectOnChange(target){
            if (target.selectedIndex !== 0){
                // input에 선택된 option 값 넣기
                document.getElementById("inputaddress").value = target.options[target.selectedIndex].text.substring(3);

                document.getElementById("hiddenIndex").value = target.options[target.selectedIndex].text[0];
            }
        }

        function sample6_execDaumPostcode() {
            new daum.Postcode({
                oncomplete: function(data) {
                    // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.
    
                    // 각 주소의 노출 규칙에 따라 주소를 조합한다.
                    // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                    var addr = ''; // 주소 변수
    
                    //사용자가 선택한 주소 타입에 따라 해당 주소 값을 가져온다.
                    if (data.userSelectedType === 'R') { // 사용자가 도로명 주소를 선택했을 경우
                        addr = data.roadAddress;
                        document.getElementById("inputaddress").value = data.zonecode + " " + addr;
                    } else { // 사용자가 지번 주소를 선택했을 경우(J)
                        addr = data.jibunAddress;
                        document.getElementById("inputaddress").value = data.zonecode + " " + addr;
                    }
                }
            }).open();
        }
    </script>
    <footer>
        <%- include('../../partials/footer'); %>
    </footer>
    </body>
</html>